html,body,header,footer,menu,nav,aside,div,main,article,h1,h2,h3,h4,h5,h6,p,a,ul,ol,li,img,form,input,button,select,option{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
    font-family: sans-serif;
}
img{
    vertical-align: bottom;
}