
.container{
    display: flex;
}

.container > div {
   width: 30%; 
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  width: 90%;
  height: 3em;
  border: none;

  padding-top: 0em;
  text-align: center; 
  
  font-size: 15px;
  /* transition: 2s; */
}

.accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  /*
  display: flex;
  justify-content: end;
  */
}

.active {
  background-color: cyan;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  /* width: 30%; */
  overflow: hidden;

  max-height: 0; /* control max-height */
  /* transition: max-height .7s ease-in; */
}